<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Notes App by Fede Hayes!</h1>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Register</a>
  </div>
</div>